$primary-color: hsl(35, 74%, 92%);
$secondary-color: hsl(171, 100%, 28%);
$tertiary-color: hsl(177, 96%, 18%);
$dark-color: hsl(36, 35%, 19%);
$grey: hsl(73, 15%, 76%);
$lightgreen: hsl(74, 52%, 50%);
$dark-green: hsl(75, 20%, 20%);
