@use '../abstracts/variables';

.cardCreate {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  /* background-color: var(--secondary-color); */
  margin: 10px;
  /* color: white; */
  color: variables.$dark-color;
  border: 1px solid red;
  border-radius: 5px;
  place-items: center;
}

.cardCreate__image {
  padding: 10px;
  max-height: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 6px;
}

.cardCreate__img__top {
  width: 100%;
  object-fit: contain;
}

.cardCreate__body {
  /* display: flex; */
  width: 90%;
  height: 700px;
  padding: 10px;
  align-items: left;
  text-align: left;
  border: 2px solid black;
}

.cardCreate__buttons {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.cardCreate__btn {
  width: 85px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgb(83, 77, 77);
  border-radius: 6px;
  border: none;
}

.cardCreate__btn > .MuiSvgIcon-root {
  padding: 4px;
  color: white;
  font-size: large;
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 6px;
  /* border: 2px solid blue; */
}

.cardCreate__btn > .MuiSvgIcon-root:hover {
  color: rgb(19, 34, 167);
  /* background-color: rgb(83, 77, 77); */
  /* transform: scale(1.1); */
}

.cardPreviewBlock {
  border: 1px solid red;
  /* object-fit: contain; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  /* margin: auto; */
  /* position: relative; */
  color: black;
}

.cardCreate__AddProperties_btn {
  background-color: variables.$dark-color;
  border: 0;
}

.cardCreate__AddProperties_btn:hover {
  /* background-color: var(--green); */
  background-color: variables.$dark-green;
}

#cardPreview {
  border: 1px solid lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cardForm {
  border: 2px solid purple;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 10px;
  width: 100%;
}

#cardNamePreview {
  border: 1px solid green;
  color: black;
}

#cardImgPreview {
  border: 1px solid salmon;
}

#cardDescPreview {
  border: 1px solid blue;
  color: black;
}

.preview-message {
  height: 200px;
}

#cardAttrListPreview {
  color: black;
}
