@use '../abstracts/variables';

.deckCreate {
  display: grid;
  align-items: center;
  justify-content: left;
  padding: 10px;
  width: 100%;
  background-color: variables.$secondary-color;
  margin: 10px;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
}

.deckCreate__image {
  padding: 10px;
  max-height: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 6px;
}

.deckCreate__img__top {
  width: 100%;
  object-fit: contain;
}

.deckCreate__body {
  /* display: flex; */
  width: 90%;
  height: 700px;
  padding: 10px;
  align-items: left;
  text-align: left;
  border: 2px solid black;
}

.deckCreate__buttons {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.deckCreate__btn {
  width: 85px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgb(83, 77, 77);
  border-radius: 6px;
  border: none;
}

.deckCreate__btn > .MuiSvgIcon-root {
  padding: 4px;
  color: white;
  font-size: large;
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 6px;
  /* border: 2px solid blue; */
}

.deckCreate__btn > .MuiSvgIcon-root:hover {
  color: rgb(19, 34, 167);
  /* background-color: rgb(83, 77, 77); */
  /* transform: scale(1.1); */
}

.deckPreviewBlock {
  border: 1px solid red;
  /* object-fit: contain; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  /* margin: auto; */
  /* position: relative; */
  color: black;
}

#deckPreview {
  border: 1px solid lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deckForm {
  border: 2px solid purple;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 10px;
  width: 100%;
}

#deckNamePreview {
  border: 1px solid green;
  color: black;
}

#deckImgPreview {
  border: 1px solid salmon;
}

#deckDescPreview {
  border: 1px solid blue;
  color: black;
}

.preview-message {
  height: 200px;
}

#deckAttrListPreview {
  color: black;
}
