.card {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-img-top {
  width: 90%;
}

.card-body {
  justify-content: center;
  width: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-buttons {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
}

.card-btn {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}

.card-btn>.MuiSvgIcon-root {
  padding: 4px;
  color: white;
  font-size: xx-large;
  width: 11rem;
  height: 6rem;
  background-color: gray;
  border-radius: 6px;
}

.card-btn>.MuiSvgIcon-root:hover {
  color: rgb(19, 34, 167);
  background-color: rgb(83, 77, 77);
}