.card {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  padding-top: 10px;
}

.card-img-top {
  width: 90%;
}

.card-body {
  justify-content: center;
  /* border: 3px solid black; */
  width: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-primary {
  width: 100px;
  margin: 20px;
}
